<link rel="stylesheet" href="/css/404.css" />
<!-- Background image -->
<div
  class="bg-image"
  style="
    background-image: linear-gradient(to bottom, slategrey, lightgrey);
    height: 80vh;
  "
>
  <!-- Background image -->
  <div class="panel-heading bg-dark"><h3 class="text-white text-center">Draw
      one, 404 - a wild error appeared!</h3></div>
  <div class="card-center w-25 mx-auto my-auto">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img />
        </div>
        <div class="flip-card-back">
          <img />
        </div>
      </div>
    </div>
  </div>
</div>