<body>
  <main>
    <div class="page">
      <div class="card-group justify-content-evenly">
        {{#each cards}}
          <div class="card" style="min-width: 12rem; flex-grow: 0;">
            <img src={{card_img_url}} class="card-img-top" alt={{card_name}} />
            <div class="card-body">
              <h5 class="card-title">{{card_name}}</h5>
              <p class="card-text">{{description}}</p>
              {{! <a href="#" class="btn btn-primary">Go somewhere</a> }}
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </main>
  <script src="js/dbActions.js"></script>
</body>