  <body>
    <div class="jumbotron" id="logo">
      <div class="container text-center">
        <h2></h2>
      </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Welcome!</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarText"
          aria-controls="navbarText"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Shop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Binder</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Login</a>
            </li>
          </ul>
          <span class="navbar-text"> Gotta Catch 'Em All! </span>
        </div>
      </div>
    </nav>

    <main>
      <div class="container-fluid text-center">
        <form
          class="form-inline d-flex justify-content-center mb-3"
          id="search"
        >
          <input
            type="text"
            class="form-control"
            size="50"
            placeholder="Search..."
          />
          <button type="button" class="btn btn-danger">Go!</button>
        </form>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-4 order-sm-1 order-md-0">
          <div class="panel panel-primary">
            <div class="panel-heading">WHO'S THAT POKEMON?</div>
            <div class="panel-body">
              <img
                src="https://picsum.photos/100/50"
                class="img-responsive"
                style="width: 100%"
                alt="Image"
              />
            </div>
            <div class="panel-footer">It's Diglett!</div>
          </div>
          <div class="panel panel-success">
            <div class="panel-heading">WHO'S THAT POKEMON?</div>
            <div class="panel-body">
              <img
                src="https://picsum.photos/100/50"
                class="img-responsive"
                style="width: 100%"
                alt="Image"
              />
            </div>
            <div class="panel-footer">It's Jigglypuff!</div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">WHO'S THAT POKEMON?</div>
            <div class="panel-body">
              <img
                src="https://picsum.photos/100/50"
                class="img-responsive"
                style="width: 100%"
                alt="Image"
              />
            </div>
            <div class="panel-footer">It's Exeggutor!</div>
          </div>
        </div>

        <div class="col-sm-12 col-md-8 order-sm-0 order-md-1">
          <div class="panel panel-danger">
            <div
              id="carouselExampleControls"
              class="carousel slide"
              data-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    class="d-block w-100"
                    src="https://picsum.photos/800"
                    alt="First slide"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    class="d-block w-100"
                    src="https://picsum.photos/800"
                    alt="Second slide"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    class="d-block w-100"
                    src="https://picsum.photos/800"
                    alt="Third slide"
                  />
                </div>
              </div>
              <a
                class="carousel-control-prev"
                href="#carouselExampleControls"
                role="button"
                data-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Previous</span>
              </a>
              <a
                class="carousel-control-next"
                href="#carouselExampleControls"
                role="button"
                data-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Launch static backdrop modal
</button>
    <footer class="container-fluid text-center">
      <p>&copy 2021</p>
    </footer>
    <script src="js/modal.js">
    </script>
  </body>
</html>

