<body>
    <!-- Login/Signup -->
    <section class="showcase">
        <div class="container grid">
            <div class="showcase-text">
            </div>
            <form id="login-form" action="submit">
                <fieldset>
                    <legend>
                        User Account
                    </legend>
                    <div>
                        <label for="username">Username</label>
                        <input id="username" type="text" name="username" placeholder="Eg. John Doe" required />
                    </div>
                    <div>
                        <label for="password">Password</label>
                        <input id="password" type="password" name="password" placeholder="Password" required />
                    </div>
                </fieldset>
                <fieldset>
                    <span>
                        <input id="login" type="radio" name="login_type" value="login">
                        <label for="login">Login</label>
                        <input id="sign up" type="radio" name="login_type" value="sign up">
                        <label for="sign up">Sign Up</label>
                    </span>
                </fieldset>
                <input type="submit" id="inputbtn" value="Submit" />
                <output name="result"></output>
            </form>
    </section>

</body>
<script src="./js/login.js"></script>
</html>