<div
  class="bg-image"
  style="
    background-image: linear-gradient(to bottom, slategrey, lightgrey);
    height: 120vh;
  "
>

<h3>Who's that Pokemon!?</h3>
<div class="searchPageContent">
  <div class="searchPageLeft">
    <form>
      <div class="mb-3">
        <label for="Pokemon-Name" class="form-label"></label>
        <input
          type="text"
          class="form-control nameInput"
          id="pokemon-name"
          aria-describedby="emailHelp"
          placeholder="Enter a Pokemon Name..."
        />
        <div id="emailHelp" class="form-text text-dark"></div>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        id="search-submit"
      >Submit</button>
    </form>
    <div class="pageAndButtons">
      <div class="pageCount"></div>
      <button class="prev">Prev</button>
      <button class="next">Next</button>
    </div>
  </div>

  <div class="pokemonCard"></div>
</div>
<!-- Modal Structure -->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="row valign-wrapper">
        <div class="modalCard col"></div>
        <div class="cardInfo col">
          <h2 class="pokeModalName"></h2>
          <div class="cardDailyAvg">Average Price Today</div>
          <div class="cardWeeklyAvg">Average Price This Week</div>
          <div class="cardMonthlyAvg">Average Price This Month</div>
          <div class="cardFlavorText">Card Flavor Text</div>
        </div>
      </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="addBinder">Add to Binder</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script
  type="text/javascript"
  src="https://code.jquery.com/jquery-2.1.1.min.js"
></script>
<script src="js/binderActions.js"></script>
<script src="js/pokeapi.js"></script>
<script src="js/pokeapi2.js"></script>