:root {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-decoration: none;
}

#logo {
  background-image: url(../assets/images/main-logo.webp);
  background-size: 180px;
  background-repeat: no-repeat;
  background-position: center;
  width: auto;
  height: 210px;
  z-index: 100; /* :( */
  position: relative;
  padding: 1rem;
}

/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
  margin-bottom: 1rem;
  border-radius: 0;
}

.jumbotron {
  padding: 2rem 1rem;
}

main {
  /* subtracting from px of jumbotron, nav & footer */
  min-height: calc(100vh - 342px);
}

#search > input {
  max-width: 50%;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: lightgray;
  padding: 25px;
}
