:root {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-decoration: none;
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
}

#logo {
  background-image: url(../assets/images/main-logo.webp);
  background-size: 180px;
  background-repeat: no-repeat;
  background-position: center;
  width: auto;
  height: 210px;
  z-index: 100;
  position: relative;
}
nav {
  font-size: 1.5em;
}
nav ul {
  margin-left: 1em;
}
nav li {
  margin: 0 0.5em 0 0.5em;
}
/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
  /* margin-bottom: 1rem; */
  border-radius: 0;
}
.navbar-brand {
  font-size: 140%;
}
.jumbotron {
  padding: 2rem 1rem;
  background-image: linear-gradient(to bottom right, midnightblue, lightgrey);
}
.displayName {
  color: white;
}
#logout {
  cursor: pointer;
}

main {
  /* subtracting from px of jumbotron, nav & footer */
  min-height: calc(100vh - 342px);
  background-image: linear-gradient(to bottom right, midnightblue, lightgrey);
}

/* Add a gray background color and some padding to the footer */
footer {
  padding: 25px;
}
.searchPageContent {
  display: inline-flex;
}
.searchPageLeft {
  display: flex;
  flex-direction: column;
}
.pokemonCard {
}
.cards {
  height: 20em;
  width: 14em;
  margin: 1em;
}
.nameInput {
  width: 20em;
}
.pageAndButtons {
}
.pokeModal {
  height: 30em;
  width: 21em;
  margin: 2em;
}
.pokeModalName {
  margin-left: 3em;
}
.cardInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
